.base-input {
  @apply h-10 transition-all duration-100 bg-white !border border-grey-300 outline-none px-2 py-1.5 rounded-[3px] leading-[16px] hover:border-grey-600 read-only:bg-[#f5f5f5] text-[#434343];
}

.base-input:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
}

.checkbox {
  @apply w-5 h-5 relative rounded-[3px];
  border-radius: 3px;
  appearance: none;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: background-color 0.15s ease 0s;
  box-shadow: rgb(207, 207, 206) 0px 0px 0px 1px inset;
}

.checkbox:focus {
  box-shadow: rgb(255, 255, 255) 0px 0px 0px 1px,
    rgba(38, 38, 39, 0.4) 0px 0px 0px 3px;
  outline: none;
}

.checkbox:checked {
  @apply bg-primary;
}

.checkbox:checked::before {
  content: '';
  color: rgb(255, 255, 255);
  background: url(../images/check-white.svg) 50% 4px no-repeat;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
}

.input-error {
  @apply text-invalid text-sm leading-[1.5] relative;
  padding: 8px 0px 6px 20px;
}

.input-error::before {
  content: '';
  background: url(../images/warning.svg) 50% center repeat;
  width: 14px;
  height: 14px;
  position: absolute;
  left: 0px;
  top: 8px;
}

.input-radio {
  @apply w-5 h-5 cursor-pointer bg-white border border-grey-300;
  appearance: none;
  border-radius: 50%;
  outline: 0px;
  transition: all 0.2s ease-in-out 0s;
}

.input-radio:checked:enabled {
  border: 6px solid rgb(25, 25, 25);
}
